.textContant{
    background-color: gray;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
}
#maincontant{
    background-color:lightblue;
    height: 400px;
}
#navigation{
    background-color: lightcoral;
    height: 400px;
    width: 25%;
    padding: 10px;
}
.navitem{
    background-color: white;
    height: 50px;
    margin: 10px;
    font-size: 25px;
    padding: 25px opx 0px 20px;
}